@page
@model IndexModel
@{
    ViewData["Title"] = "University of Technology Sarawak Quotes";
}
<body style="background-color:powderblue;">

    <div class="text-center">
        <h1 class="display-4">Welcome to the University of Technology Sarawak Quotes Website</h1>
        <p>Get inspired by the wisdom of our faculty members and alumni.</p>
        <p>“The only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle.” - Steve Jobs</p>
        <p>“Believe you can and you're halfway there.” - Theodore Roosevelt</p>
        <p>“Success is not final, failure is not fatal: it is the courage to continue that counts.” - Winston Churchill</p>
    </div>
    <div class="video-container">
        <iframe width="1080" height="720" src="https://www.youtube.com/embed/rRdR1_fYNVY?autoplay=1&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


    <img src="~/lib/images/background1.jpeg" style="width: 800px; height: 600px;">
</body>
