@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url(~/lib/img/background.jpeg);">
    <img src="~/lib/img/background.jpeg"/>
    <div class="text-center">
        <h1 class="display-4">Welcome To UTS Quotes</h1>
        <p>Nak healing? Pegi Situk <a href=" https://www.psychologytoday.com/us/blog/the-mindful-self-express/201703/how-recover-heartbreak-and-move">Move on lah</a>.</p>
    </div>


</body>
